body {
  background: white;
  color: black;
  font-family: ;
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  background-color: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0%;
}

main {
  padding-top: 50px;
  background-color: teal;
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav>ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav>ul>li {
  color: black;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav>ul>li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

li>a {
  color: inherit;
  text-decoration: none;
}

h2,
h3,
h4 {
  font-size: 70px;
}

p {
  display: flex;
  font-size: large;
  padding-left: 100px;
  padding-right: 100px;
}

section {
  background-color: tan;
  padding-bottom: 50px;
  padding-top: 10px;
}

img {
  width: 100%;
  height: 200px;
  max-width: 200%;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.row {
  font-size: 40px;
}

.gallery {
  background-color: tan;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* CODE FOR ONLY ONE IMAGE BANNER
width: 500%;
max-width: 1550px;
height: 500px; */